head
  title=title
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='css/main.css')
  noscript
    link(rel='stylesheet' href='css/noscript.css')
// Wrapper
#wrapper
  // Header
  header#header.alt
    a.logo(href='index.html')
      span .
      strong CBC Radio Canada
      span .
    nav
      a(href='#menu') Menu
  // Menu
  nav#menu
    ul.links
      li
        a(href='index.html') Home
      li
        a(href='landing.html') Landing
      li
        a(href='generic.html') Generic
      li
        a(href='elements.html') Elements
    ul.actions.stacked
      li
        a.button.primary.fit(href='#') Get Started
      li
        a.button.fit(href='#') Log In
  // Banner
  section#banner.major
    .inner
      header.major
        h1 CBC Radio - Shows
      .content
        p
          | CBC radio shows - Canada's home for news, sports, 
          br
          | lifestyle, comedy, arts, kids, music, original series & more.
        ul.actions
          li
            a.button.next.scrolly(href='#one') Get Started
  // Main
  #main
    // One
    section#one.tiles
      each val, index in data
        article
          span.image
            img(src=val.image alt='')
          header.major
            h3
              a.link(href='landing.html')= val.title
            p= val.description
  // Footer
  footer#footer
    .footerBody.extendedFooter
      .footerColumn.connect
        h3.footerHeading Connect with CBC
        ul.footerList
          li.footerItem
            a.footerLink(href='https://www.facebook.com/cbc/') Facebook
          li.footerItem
            a.footerLink(href='https://twitter.com/cbc/') Twitter
          li.footerItem
            a.footerLink(href='https://www.youtube.com/user/CBCtv') YouTube
          li.footerItem
            a.footerLink(href='https://www.instagram.com/cbc/?hl=en') Instagram
          li.footerItem
            a.footerLink(href='https://cbchelp.cbc.ca/hc/en-ca/categories/115000249853-Help-with-CBC-Apps') Mobile
          li.footerItem
            a.footerLink(href='https://www.cbc.ca/rss/') RSS
          li.footerItem
            a.footerLink(href='/radio/podcasts') Podcasts
          li.footerItem
            a.footerLink(href='https://subscriptions.cbc.ca/listmanagement/') Newsletters
      .footerColumn.contact
        h3.footerHeading Contact CBC
        p
          | Audience Relations, CBC 
          br
          | P.O. Box 500 Station A 
          br
          | Toronto, ON 
          br
          |  Canada, M5W 1E6
        p
          | Toll-free (Canada only): 
          br
          |  1-866-306-4636
        p
          | TTY/Teletype writer: 
          br
          |  1-866-220-6045
        ul.footerList
          li.footerItem
            a.footerLink(href='https://cbchelp.cbc.ca/') FAQ
          li.footerItem
            a.footerLink(href='https://cbchelp.cbc.ca/hc/en-ca') Help Centre
          li.footerItem
            .icon
              svg.emailIcon(width='20px' height='15px' viewbox='0 0 20 15' version='1.1')
                g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                  g(transform='translate(-388.000000, -361.000000)' fill='#246CFF' fill-rule='nonzero')
                    g(transform='translate(388.000000, 361.000000)')
                      path#Shape(d='M17.9190341,0 L1.85369318,0 C0.829913885,0 0,0.839453125 0,1.875 L0,13.125 C0,14.1605469 0.829913885,15 1.85369318,15 L17.9190341,15 C18.9428134,15 19.7727273,14.1605469 19.7727273,13.125 L19.7727273,1.875 C19.7727273,0.839453125 18.9428134,0 17.9190341,0 Z M17.9190341,1.875 L17.9190341,3.46894531 C17.0531277,4.1821875 15.6726669,5.29125 12.7214715,7.62871094 C12.0710955,8.14617187 10.7827788,9.38933594 9.88636364,9.37484375 C8.99010298,9.38949219 7.70136142,8.14597656 7.05125577,7.62871094 C4.10052379,5.29160156 2.71971547,4.18230469 1.85369318,3.46894531 L1.85369318,1.875 L17.9190341,1.875 Z M1.85369318,13.125 L1.85369318,5.87492187 C2.73859996,6.58785156 3.99351163,7.58828125 5.90625266,9.10328125 C6.75033958,9.77535156 8.22854403,11.2589844 9.88636364,11.2499609 C11.5360347,11.2589844 12.9955091,9.796875 13.866127,9.10359375 C15.7788295,7.58863281 17.0340887,6.58792969 17.9190341,5.87492187 L17.9190341,13.125 L1.85369318,13.125 Z')
            a.footerLink(href='https://cbchelp.cbc.ca/hc/en-ca/requests/new') Contact Us
      .footerColumn.connect(data-test-id='footer-column-service')
        h3.footerHeading Services &amp; Info
        ul.footerList
          li.footerItem
            a.footerLink(href='http://www.cbc.radio-canada.ca/en') Corporate Info
          li.footerItem
            a.footerLink(href='http://www.ombudsman.cbc.radio-canada.ca/en/') Ombudsman
          li.footerItem
            a.footerLink(href='https://www.cbc.ca/appearances/') Public Appearances
          li.footerItem
            a.footerLink(href='http://www.cbc.radio-canada.ca/en/commercial-services/') Commercial Services
          li.footerItem
            a.footerLink(href='https://cbchelp.cbc.ca/hc/en-ca/sections/203864688-Using-or-licensing-CBC-content') Reuse &amp; Permission
          li.footerItem
            a.footerLink(href='https://www.cbc.ca/aboutcbc/discover/termsofuse.html') Terms of Use
          li.footerItem
            a.footerLink(href='https://www.cbc.ca/aboutcbc/discover/privacy.html') Privacy
          li.footerItem
            a.footerLink(href='http://www.cbcshop.ca/') CBC Shop
          li.footerItem
            a.footerLink(href='http://www.cbc.radio-canada.ca/en/explore/jobs/') Jobs
          li.footerItem
            a.footerLink(href='http://www.cbc.radio-canada.ca/en/explore/doing-business-with-us/') Doing Business with Us
          li.footerItem
            a.footerLink(href='https://www.cbc.ca/productionfacilities/') Renting Facilities
          li.footerItem
            a.footerLink(href='https://www.cbc.ca/ip') Independent Producers
          li.footerItem
            a.footerLink(href='/sitemap') Sitemap
      .footerColumn.accessibility
        h3.footerHeading Accessibility
        .footerColumnBody
          p
            | It is a priority for CBC to create a website that is accessible to all Canadians including people with visual, hearing, motor and cognitive challenges.
          p
            | Closed Captioning and Described Video is available for many CBC-TV shows offered on 
            a.footerLink.cbcWatch(href='https://watch.cbc.ca/') CBC Gem
            | .
          ul.footerList
            li.footerItem
              a.footerLink(href='https://www.cbc.ca/accessibility/') More about CBC Accessibility
            li.footerItem
              a.footerLink(href='https://www.cbc.ca/accessibility/feedback/') Accessibility Feedback
    .basicFooter
      ul.footerBody.footerList
        li.footerColumn.copyright
          span(role='img' aria-label='copyright') &copy;
          | 2018 CBC/Radio-Canada. All rights reserved.
        li.footerColumn.radioCanada
          a.radioCanada(hreflang='fr-CA' lang='fr-CA' href='http://ici.radio-canada.ca/')
            span Visitez Radio-Canada.ca

// Scripts
script(src='js/jquery.min.js')
script(src='js/jquery.scrolly.min.js')
script(src='js/jquery.scrollex.min.js')
script(src='js/browser.min.js')
script(src='js/breakpoints.min.js')
script(src='js/util.js')
script(src='js/main.js')

